{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
