@tailwind base;
@tailwind components;
@tailwind utilities;

/* "twitter-shadow": "drop-shadow(0 0 2px #1DA1F2)",
				"github-shadow": "drop-shadow(0 0 2px #fff)",
				"osu-shadow": "drop-shadow(0 0 2px #FF66AA)",
				"discord-shadow": "drop-shadow(0 0 2px #7289DA)",
				"mail-shadow": "drop-shadow(0 0 2px #fff)", */
            
html {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

.twitter-shadow:hover {
    filter: drop-shadow(0 0 2.5px #1DA1F2);
}

.osu-shadow:hover {
    filter: drop-shadow(0 0 2.5px #FF66AA);
}

.discord-shadow:hover {
    filter: drop-shadow(0 0 2.5px #7289DA);
}

.white-shadow:hover {
    filter: drop-shadow(0 0 2.5px #fff);
}

.white-shadow-nh {
    filter: drop-shadow(0 0 2.5px #fff);
}

.trans-shadow-blue:hover {
    filter: drop-shadow(0 0 5px #5bcefa);
}

.trans-shadow-pink:hover {
    filter: drop-shadow(0 0 2.5px #f5a9b8);
}

.trans-shadow-white:hover {
    filter: drop-shadow(0 0 2.5px #fff);
}

.bubblez-proj-card {
    background-image: linear-gradient(to bottom, transparent, #000 35%), url("/assets/bubblez.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position-x: center;
    background-size: 100%
}

.gradientText {
    background: linear-gradient(135deg, #5bcefa 0%,#f5a9b8 25%,#ffffff 50%,#f5a9b8 75%,#5bcefa 100%);
    padding: 10px;
    overflow: visible;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
