@tailwind base;
@tailwind components;
@tailwind utilities;

/* "twitter-shadow": "drop-shadow(0 0 2px #1DA1F2)",
				"github-shadow": "drop-shadow(0 0 2px #fff)",
				"osu-shadow": "drop-shadow(0 0 2px #FF66AA)",
				"discord-shadow": "drop-shadow(0 0 2px #7289DA)",
				"mail-shadow": "drop-shadow(0 0 2px #fff)", */
            
html {
    background-color: #000;
}

.twitter-shadow:hover {
    filter: drop-shadow(0 0 2.5px #1DA1F2);
}

.osu-shadow:hover {
    filter: drop-shadow(0 0 2.5px #FF66AA);
}

.discord-shadow:hover {
    filter: drop-shadow(0 0 2.5px #7289DA);
}

.white-shadow:hover {
    filter: drop-shadow(0 0 2.5px #fff);
}